* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 1200px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  background: black;
  display: flex;
  flex-flow: column nowrap;
}
.menu {
  background: #205375;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1px;
}
    .log1 {
    background: #eb5353;
    flex: 1 1 auto      ;
    }
        .log2 {
        background: #eb5353;
        flex: 5 1 auto;
        }
            .log3 {
            background: #eb5353;
            flex: 1 1 auto;
            }
.texto {
  background: #ff8d29;  
}
    h1 {
    background: #ffcd38;
    }

.section {
  background: black;
  display: flex;
}
    .articulos {
    background: #4e4e6a;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    }
        .article {
        background: #1f6cb0;
        flex: 1 1 40%;
        }
.navegacion {
  background: #70a3c4;
  flex: 1 1 100%;
}
.aside {
  background: #f32424;
  flex: 1 1 auto;
}
    .pub1 {
    background: #ffcd38;
    }
        .pub2 {
        background: #ffcd38;
        }

.footer {
  background: black;
}
.pie {
  background: #ffcd38;
}

@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
    background: #eafc49;
  }
}

@media all and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
  .section {
    background: #f7eb85;
  }
  .aside{
    background: #F66B0E;
  }
  .articulos {
    flex-direction: column;
    background: #70a3c4;
  }
  .navegacion{ 
    flex-direction: column; 
    background: #ccf3ee;
  }
  
}